@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* 
.popup-content {
    padding-top: 0px;
}  */

.popup h1{
  font-weight: 800;
  color: #ae4350;
  font-size: 1.775em;
}

.popup img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    float:left;
}

.popup-inner {
    position: relative;
    padding: 32px;
    /* padding-top: 10px;
    padding-bottom: 35px; */
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
    border-radius: 30px;
}

.popup p{
  text-align: left;
}

.popup-inner .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    /* top: 20px;
    right: 30px; */
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    border-radius: 50%;
    font-family: 'Varela Round', sans-serif;
  }
  
  .popup-inner .close-btn:hover,
  .popup-inner .close-btn:focus {
    color: #ae4350;
    cursor: pointer;
  }