body, html {
    height: 100vh;
    margin: 0;
    padding:0;
  }
  
  .bg-about {
    /* The image used */
    background-image: url('./../assets/about.png');
    height: 100vh; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 0;
  } 

  .content{
    margin: 0% 5%;
  }

  .aintro{
    margin: 0% 15%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create three equal columns that sits next to each other */
  .aintro .column, .apartners .column, .adonate .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .aevents .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
  }

   /* Responsive layout - makes a two column-layout instead of four columns */
   @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  a:link {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  /* visited link */
  a:visited {
    color: rgb(47, 90, 230);
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(18, 193, 224);
    text-decoration: underline;
  }
  