@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*********HEADER*********/
header{
  display: flex;
}

header .left{
  display: flex;
}

header *{
  margin: auto;
}

header img{
  width: 100px;
  height: auto;
}

header p{
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
}

header a:hover{
  color: #38B6FF;
}
/*********FOOTER*********/
footer{
  background-color: #38B6FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer *{
  margin: auto;
}

footer .left{
  display: flex;
}

footer img{
  width: 125px;
  height: auto;
  border-radius: 10px;
}

/*********SCROLLBAR*********/
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


